<?xml version="1.0" encoding="utf-8" ?>
<config>
  <viewCommands>
    <!--
      Os comandos das visões abaixo serão incluídos na pesquisa, 
      só serão exibidos os comando que o papel ativo do usuário tiver acesso,
      abaixo um exemplo de visão configurada:

    <view name="PAISES.GRID"></view>
    -->
  </viewCommands>

  <entities>
    <!--
      Entidades que serão adicionadas no engenho de pesquisa, 
      só serão exibidas as entidades que o papel ativo do usuário tiver acesso,
      abaixo uma documentação de cada atributo da tag entity:
    
      group: Título do agrupador que será exibido na pesquisa
      fonticon: Ícone que será mostrado em cada item de resultado da pesquisa
      name: Nome da entidade (tabela)
      formurl: Url da página de formulário da entidade, quando o usuário clicar no item será redirecionado para essa página, é possível utilizar @CAMPO(HANDLE) na url caso precise passar um valor de um campo na querystring
      resultfields: Campos de resultados que serão exibidos nos itens de resultado da pesquisa
      criteria: Se nessário é possível criar um filtro para os registros que serão pesquisados no engenho
      developer: Caso seja true a entidade só será exibida em ambiente de desenvolvimento
    -->
    <entity group="Relatórios" fonticon="fa fa-print" name="R_RELATORIOS" formurl="~/SiteSettings/EditWebReportPage.aspx">
      <!--
        E possível adicionar comandos de registro de visões,
        só serão exibidos os comandos que o papel ativo do usuário tiver acesso,
        abaixo uma documentação de cada atributo da command:
        
        viewname: Nome da visão onde o comando está
        commandname: Nome do comando que deve ser exibido, as configurações de cor e fonticon serão utilizadas da visão
        default: Quando o usuário clicar no link do item será executado diretamente o comando com default=true desconsiderando o atributo formurl da tag entity
      -->
      <command viewname="R_RELATORIOS.TEC.FORM" commandname="CMD_EMITIR" default="true" />
    </entity>
    <entity group="Visões" fonticon="fa fa-eye" name="W_ENTIDADEVISOES" resultfields="NOME, CAMADA" criteria="A.CAMADA NOT IN (-1)" formurl="~/SiteSettings/View.aspx?key=@CAMPO(HANDLE)" developer="true"/>
  </entities>
</config>

